@model AkiTek.Models.Imagens

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Imagem</h2>
<br />

<h3>Aguarda confirmação para eliminar a imagem</h3>
<div>
    <br />
    <h4>Imagem</h4>
    <hr />
    <dl class="dl-horizontal">
       <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordem)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a onclick="window.close();" style="cursor: pointer;">
            <span>Cancelar</span>
        </a>
    </div>
    }
</div>
