@model AkiTek.Models.Produtos

@{
    ViewBag.Title = "Details";
}

<h1>
    <dd>
    @Html.DisplayFor(model => model.Nome)
    </dd>
</h1>

<div>
    <hr />
    @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Preco)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Preco)
                </dd>
        </dl>*@
    <div id="topContainer" class="container">
        <div id="topRow" class="row">
            <div id="mainImg" class="col-lg-4">
                <img src="@Model.Imagens.OrderBy(g=>g.Ordem).FirstOrDefault().Nome" height="200" style="object-fit:cover">
            </div>
            <div class="col-lg-8">
                <div>
                    <p style="font-size:16px">@Model.Descricao</p>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div id="imgBar">
        @foreach (var item in Model.Imagens)
        {
            <img src="@item.Nome" height="50" style="object-fit:cover">
        }
    </div>
    <hr />
    <div id="detailsBar">
        <h3 style="font-weight:bold">Especificações</h3>
        <br />
        @foreach (var item in Model.ListaCaracteristicas)
        {
            <h4 style="font-weight:bold">@item.Nome</h4>
            <p>@item.Descricao</p>
        }
    </div>
    <hr />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
